body {
    background-color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: black;
}

.projects {
    display:flex; 
    flex-wrap:wrap;  
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: palegoldenrod;  
    border-radius: 25%;
}
.project img{
    width: 300px;
    
    margin: 10px;
    border: 2px solid red; 
    display: block;
    margin: auto;
}

a {  
    text-decoration: none;
    text-align: center;
    color: red;
}
.project p {  
    text-align: center;
    margin: 15px;
    color: red;
}